.block-text {
  &__category {
    color: var(--color-primary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__title {
    width: 72%;
    font-size: 3rem;
    color: var(--color-dark);
    line-height: 1.2em;
    font-weight: 400;
    margin-bottom: 30px;
  }

  &__box {
    margin-left: 4em;
    width: 60%;
  }

  &__price {
    color: var(--color-primary);
    margin-bottom: 1em;
  }

  &__sku {
    color: var(--color-gray);
    font-weight: 300;
    font-size: smaller;
  }

  &__text {
    color: var(--color-gray);
    margin-bottom: 1.5em;
    font-weight: 400;
  }

  &__button {
    color: var(--color-white);
    background: var(--color-primary);
  }
}

@media only screen and (max-width: $touch) {
  .block-text {
    &__title {
      font-size: 2rem;
    }

    &__box {
      margin-left: 0;
      width: 80%;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .block-text {
    &__box {
      width: 100%;
    }
  }
}