
.item {
  padding: 3em 0.75em 0;

  &__wrapper {
    padding: 0 2em 2em;
    background: var(--color-black-3);
  }

  &__image {
    margin-top: -3em;
    width: 75%;
  }

  &__category {
    color: var(--color-gray);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
  }

  &__title {
    color: var(--color-white);
    font-weight: 400;
    margin-bottom: 5px;
  }

  &__sku {
    color: var(--color-gray);
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 1em;
  }
}