.block-image {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .preview-images {
    position: absolute;
    width: 90px;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .preview-image {
    background-color: white;
    width: 100%;
    height: auto;
    float: none;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;

    &:first-of-type {
      z-index: 2;
    }
    &:not(.active) {
      opacity: 0.5;
    }
    &:hover {
      opacity: 1;
    }
  }

  .large-image {
    animation: show-image 0.5s ease-out;
    width: 100%;
    height: 100%;
    text-align: center;

    img {
      object-fit: cover;
      width: 100%;
      height: auto;
      max-width: 600px;
      max-height: 450px;
    }
  }

  @keyframes show-image {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: $touch) {
  .block-image {
    margin-top: 0;
    
    .preview-images { 
      width: 60px;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .block-image .preview-images { 
    width: 80px;
  }
}