:root {
  --font-family-default: 'Trade Gothic LT', Helvetica, Arial, sans-serif;
  --font-family-primary: 'Minion Pro';
  --color-white: #ffffff;
  --color-primary: #caa25c;
  --color-dark: #141414;
  --color-black: #141414;
  --color-black-2: #0f0f0f;
  --color-black-3: #000000;
  --color-gray: #8c8c8c;
  --color-gray-2: #f0f0f0;
  --color-gray-3: #1e1e1e;
}