.desc {
  background: var(--color-gray-2);

  &__body {
    padding-left: 0;
    padding-right: 0;
  }

  &__content {
    display: flex;
  }

  &__image {
    padding: 0;
  }
}

@media only screen and (max-width: $touch) {
  .hero.is-medium .hero-body {
    padding-left: 1em;
    padding-right: 1em;
  }
}

@media only screen and (max-width: $mobile) {
  .desc {
    &__image {
      margin-bottom: 3em;
    }

    &__content {
      flex-direction: column;
    }
  }
}