.topbar {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;

  .level-left .level-item:not(:last-child), 
  .level-right .level-item:not(:last-child) {
    margin-right: 1.5em;
  }

  .level-item {
    width: 20px;
    height: auto;
  }
}

.logo {
  position: absolute;
  max-width: 250px;
  max-height: 50px;
  top: 6em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.navigation {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  
  .level-left .level-item:not(:last-child), 
  .level-right .level-item:not(:last-child) {
    margin-right: 4em;
  }

  .level-item {
    color: var(--color-dark);
    text-transform: uppercase; 
    font-weight: 600;
  }
  
}

@media only screen and (max-width: $touch) {
  .logo { 
    top: 4em;
  }

  .navigation {
    margin-top: 2em;
  }
}