.topbar {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;

  .level-left .level-item:not(:last-child), 
  .level-right .level-item:not(:last-child) {
    margin-right: 1.5em;
  }

  .level-item {
    width: 20px;
    height: auto;
    margin-bottom: 0;

    img {
      max-height: 20px;
    }
  }
}

.logo {
  position: absolute;
  max-width: 250px;
  max-height: 50px;
  top: 4em;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.navigation {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  
  .level-left .level-item:not(:last-child), 
  .level-right .level-item:not(:last-child) {
    margin-right: 4em;
  }

  .level-item {
    color: var(--color-dark);
    text-transform: uppercase; 
    font-weight: 600;
  }
  
}

@media only screen and (max-width: $touch) {
  .logo { 
    top: 5em;
  }

  .navigation {
    margin-top: 4em;

    .level-item:not(:last-child) {
      margin-right: 2em !important;
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .level-left,
  .level-right {
    display: flex;
    height: 25px;
  }

  .navigation {
    flex-direction: column;

    &__left {
      margin-bottom: 1em;
    }

    .level-left,
    .level-right {
      justify-content: space-between;
    }
  }
}