.details {
  justify-content: space-between;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__headline {
    margin-left: 13%;
    margin-bottom: 2.5em;
  }

  &__category {
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
  }

  &__title {
    font-size: 2rem;
    line-height: 1em;
    color: var(--color-dark);
    font-weight: 400;
  }

  &__items {
    max-width: 600px;

    .item {
      &__image {
        max-width: 48px;
        max-height: 48px;
      }

      &__content {
        display: flex;
        flex-direction: column;
      }
      
      &__title,
      &__text {
        margin: 0;
      }

      &__title {
        color: var(--color-gray);
      }

      &__text {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
      }

      &__divider {
        display: none;
        margin: 0;
      }

      &:not(:nth-last-child(-n+2)) {
        .columns {
          margin-bottom: 0;
        }
        .item__divider {
          display: block;
        }
      }
    }
  }

  &__image {
    padding: 0;
    display: flex;
    align-items: center;

    img {
      background: var(--color-dark);
    }
  }

  &.detail-1 {
    .details__image {
      justify-content: flex-end;
    }
  }

  &.detail-2 {
    flex-direction: row-reverse;
    .details__wrapper {
      justify-content: flex-end;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .details {
    &__wrapper {
      display: block;
    }

    &__headline {
      margin-left: 0;
    }

    &__items {
      min-width: 100%;

      .columns.is-multiline {
        display: flex;
      }

      .item {
        flex: none;
        width: 50%;

        &__wrapper .columns {
          display: grid;
          grid-template-columns: auto 1fr;
        }
      }
    }

    &__image img {
      max-height: 600px;
    }

    &.detail-1 .details__image,
    &.detail-2 .details__image {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: $mobileXS) {
  .details__items {
    .columns.is-multiline {
      flex-direction: column;
    }

    .item {
      width: 100%;

      &:nth-last-child(2) {
        .item__divider {
          display: block;
        }
      }
    }
  }
}