.details {
  justify-content: space-between;

  &__category {
    color: var(--color-primary);
    text-transform: uppercase;
    font-weight: 600;
  }

  &__title {
    color: var(--color-dark);
    font-weight: 400;
  }

  &__items {
    .item {
      display: grid;
      padding: 1em;
      grid-template-columns: 5em 2fr;

      &__img {
        width: 48px;
      }

      &__content {
        display: flex;
        flex-direction: column;
      }
      
      &__title,
      &__text {
        margin: 0;
      }

      &__title {
        color: var(--color-gray);
      }

      &__text {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  &__image {
    padding: 0;
    display: flex;
    background: var(--color-dark);
    max-height: 540px;;
  }
}